.footer {
  padding: 60px 0 72px;
  background-color: $bg-color;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/footer.png');
  box-shadow: 0 -1px 7px 0 rgba(0, 0, 0, 0.5);

  @media screen and (max-width: 1023px) {
    padding: 30px 0;
    background-image: none;
    box-shadow: none;
  }
  @media screen and (max-width: 480px) {
    padding: 15px 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media screen and (max-width: 1023px) {
      align-items: center;
    }
  }

  &-social.social {
    margin-bottom: -10px;
    margin-right: 2px;

    @media screen and (max-width: 1023px) {
      margin: 0 -8px;

      .social-item {
        a:not([aria-label="store"]) {
          display: inline-block;
          size: 68px;
        }
      }

    }
    @media screen and (max-width: 480px) {
      margin: 0 -4px;

      .social-item {
        a:not([aria-label="store"]) {
          size: 34px;
        }
      }
    }

  }
  &-form {
    .form {
      justify-content: flex-start;

      padding: 0;
    }
    .form__heading {
      max-width: none;
      padding: 0;
      width: 100%;
    }
    .form-group {
      margin: 0;
    }
    .form-fieldset {
      margin: 0;

      &--username {
        margin-right: 35px;
      }
    }

    @media screen and (max-width: 1023px) {
      display: none;
    }
  }
  &-copyright {
    text-align: right;
    font-size: 28px;
    line-height: 34px;
    color: $white;

    @media screen and (max-width: 480px) {
      font-size: 14px;
      line-height: 17px;
    }
  }
}
