.header {
  position: relative;
  width: 100%;
  height: 1001px;
  background-color: transparent;
  background-image: url("../images/header/burger_agressive.jpg"), linear-gradient(to right, #07a9eb 40%, #1e2b6c 60%);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 900px,auto;

  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    height: 894px;
    padding-top: 32px;
    padding-bottom: 146px;
  }

  &-intro {
    position: relative;
    width: 320px;
    padding: 0;
    color: #ffffff;
    z-index: 5;

    &::before {
      position: absolute;
      bottom: 54px;
      left: -82px;

      content: '';
      display block;
      width: 440px;
      height: 479px;
      border-radius: 30px;
      background-color: $bg-color;
      transform: rotate(-35deg);
    }

    &__heading {
      position: relative;
      margin: 0 0 35px;

      font-family: $proxima;
      font-size: 42px;
      font-weight: 800;
      line-height: 45px;
    }
    &__description {
      position: relative;
      margin: 0 0 55px;
      font-size: 16px;
      line-height: 25px;
    }
    &__btn-video {
      position: relative;
      width: 279px;
      height: 78px;
      padding-left: 45px;
      border: none;
      border-radius: 10px;

      font-family: $proxima;
      font-size: 20px;
      font-weight: bold;
      line-height: 24px;
      color: #ffffff;

      background-color: $red;
      cursor: pointer;

      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 25px;
        content: '';
        display: block;
        size: 48px;
        margin: auto;
        border-radius: 50%;
        background: transparent url('../images/icons/play.svg') no-repeat center;
      }
    }
  }

  &-form {
    position: relative;
    background-color: $bg-color;
    box-shadow: 0 -1px 7px 0 rgba(0, 0, 0, 0.5);

    transition: transform 0.3s ease;

    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 20;
    }
    &.fixed-bottom {
      transform: translateY(-100%);
    }
  }

  &-logo {
    align-self: flex-start;
    width: 100%;

    h1 {
      position: relative;
      z-index: 5;
    }
  }
  &-social.social {
    position: relative;
    z-index: 15;

    margin: 12px -8px;
  }
  &-stores.stores {
    position: relative;
    z-index: 15;

    margin: 12px 0;
  }
}

.header-parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: flex-end;

  max-width: 1629px;
  size: 100% 900px;
  margin: auto;
  @media all and (-ms-high-contrast: none) {
    display: block;
  }
}

.layer-front {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  background-color: transparent;
  background-image: url('../images/header/blue_frame.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 900px;
}

.layer-area {
  position: relative;

  max-width: 1024px;
  width: 70%;
  height: 900px;

  @media all and (-ms-high-contrast: none) {
    float: right;
  }
}

.layer-phone {
  position: absolute;
  bottom: 0;
  top: -32px;
  right: 135px;
  overflow: hidden;

  width: 326px;
  height: 670px;
  padding: 14px;
  margin: auto;
  border-radius: 35px;

  &.under-front.is-animate {
    animation-name: dragme-glow, dragme;
    animation-duration: 10s, 10s;
    animation-timing-function: step-middle;
    animation-delay: 2s, 5s;
    animation-iteration-count: infinite;

    .layer-burger img {
      animation-name: dragme-burger;
      animation-duration: 10s;
      animation-timing-function: step-middle;
      animation-delay: 5s;
      animation-iteration-count: infinite;
    }
  }
  &.on-draggable {
    z-index: 5;

    &.is-animate {
      animation-name: dragme;
      animation-duration: 10s;
      animation-timing-function: step-middle;
      animation-delay: 5s;
      animation-iteration-count: infinite;
    }
  }
}

.layer-border {
  position: absolute;
  top: 0;
  left: 0;
}

.layer-burger {
  position: relative;
  size: 298px 640px;
  margin: auto;
  overflow: hidden;
  border-radius: 26px;
  background: rgba(0, 0, 0, 0.15);

  img {
    position: absolute;
    top: 120px;
    left: -52px;
  }
}

@keyframes dragme {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(135px);
  }
  20% {
    transform: translateX(-135px);
  }
  30% {
    transform: translateX(0px);
  }
}
@keyframes dragme-glow {
  0% {
    box-shadow: none;
  }
  15% {
    box-shadow: 0 0 100px 10px #00b5ff;
  }
  30% {
    box-shadow: none;
  }
}

@keyframes dragme-burger {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(-135px);
  }
  20% {
    transform: translateX(135px);
  }
  30% {
    transform: translateX(0px);
  }
}