@require './libs/normalize.css';
@require './common/variables';
@require './common/fonts';
@require './libs/*.css';

html, body {
  height: 100%;
}
body {
  min-width: 1024px;
  width: 100%;

  font-family: 'Rubik', 'Arial', sans-serif;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  a, a:hover, a:focus {
    text-decoration: none;
  }
}
main {
  max-width: 1440px;
  min-width: 1024px;
  margin: 0 auto;
}
.container {
  position: relative;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

// для большей доступности сайта на специальных устройствах
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.ng-modal-dialog {
  max-width: 650px;
  width: 100%;
  padding: 50px;
  border-radius: 13px;
  box-shadow: 0 0 30px 0 #00c4ff;
}
.ng-modal[aria-label="video-dialog"] .ng-modal-dialog{
  max-width: 1170px;
  width: 85%;
  padding: 16px;
}
.ng-modal[aria-label="alert-dialog"] .ng-modal-dialog{
  width: 330px;
}
.ng-modal-close-x {
  visibility: hidden;
}
.ng-modal-close {
  top: -3px;
  right: -58px;

  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 3px;

  font-size: 0;
  background: transparent;

  &::after,
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    size: 3px 30px;
    margin: auto;

    background: #ffffff;
  }

  &::before {
    transform: rotate(-45deg);
  }
  &::after {
    transform: rotate(45deg);
  }
}
.ng-modal-title {
  margin: 10px 0;
  border-bottom: none;

  color: $bg-color;
  font-family: $proxima;
  font-size: 42px;
  font-weight: 800;
  line-height: 42px;
}
.simplebar-scrollbar {
  cursor: pointer;
}
.modal-form {
  margin: 30px 0 0;
}
.form-checkbox {
  position: relative;
  width: 100%;
}
.form-checkbox__hidden {
  position: absolute;
  visibility: hidden;
  top: 0;

  &:checked + .form-checkbox__label::before {
    background-image: url("../images/icons/checkbox-checked.svg");
  }
}
.form-checkbox__label {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  color: #16205d;
  font-family: inherit;
  font-size: 18px;
  line-height: 32px;

  cursor: pointer;

  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    size: 32px;
    margin-right: 12px;

    background: transparent url("../images/icons/checkbox.svg") no-repeat center;
    background-size: 32px 32px;
  }
}
.modal-form__btn {
  display: block;
  width: 265px;
  height: 48px;
  margin: 30px auto 0;
  border: 2px solid #2ca8f5;
  border-radius: 2px;

  color: #FFFFFF;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  background-color: #2ca8f5;

  &[disabled] {
    border: 2px solid #bdc3d7;
    background-color: #bdc3d7;
  }
}
@require './common/page-layout';
@require './common/*';
@require './components/*';