.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  size: 100% auto;
  padding: 25px 15px 22px;

  &-stores {
    @media screen and (max-width: 1023px) {
      display: none;
    }
  }

  &__heading {
    max-width: 350px;

    flex: 1 0 auto;
    margin: 0 0 10px;

    font-family: $proxima;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 1px;
    color: $text-color;

    @media screen and (max-width: 1023px) {
      display: none;
    }
  }
  &__heading-btn {
    text-align: left;

    width: 100%;
    padding: 0 50px 0 0;
    border: none;

    font-family: $proxima;
    font-size: 26px;
    font-weight: bold;
    line-height: 38px;
    color: $white;
    background: transparent;
    -webkit-appearance: none;

    .hamburger {
      position: absolute;
      top: 12px;
      right: 2px;
    }
  }
  &-group {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    margin: 0 0 10px;

    @media screen and (max-width: 1023px) {
      display: none;
      width: 400px;

      &.is-show {
        display: block;
      }
    }
  }
  &-fieldset {
    position: relative;
    padding: 0;
    margin-right: 20px;
    border: none;

    &--username {
      width: 165px;
    }
    &--mail {
      width: 286px;
    }

    @media screen and (max-width: 1023px) {
      display: block;
      width: 100%;
      margin-bottom: 25px;

      &--username,
      &--mail {
        width: 100%;
      }
    }
  }
  &-fieldset__label {
    position: absolute;
    top: 19px;
    left: 0;

    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.8;
    color: $text-color;

    transition: all 0.25s;


    @media screen and (max-width: 1023px) {
      font-size: 24px;
      line-height: 52px;
      color: $white;
    }
  }
  &-fieldset__input {
    width: 100%;
    height: 50px;
    padding: 20px 0 5px;
    border: none;
    border-bottom: 1px solid $text-color;
    font-family: 'Rubik', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1;
    color: $text-color;

    background: transparent;
    outline: none;

    &:focus, &.ng-not-empty {
      & + .form-fieldset__label {
        top: 0;
        font-size: 12px;
      }
    }
    &.ng-dirty.ng-invalid:not(:focus) {
      border-color: $red;
      color: $red;

      & + .form-fieldset__label {
        color: $red;
      }
    }


    @media screen and (max-width: 1023px) {
      height: 70px;
      padding-top: 28px;
      border-bottom: 2px solid #ffffff;

      font-size: 24px;
      color: #ffffff;

      &:focus,
      &.ng-not-empty {
        & + .form-fieldset__label {
          top: -13px;
          font-size: 18px;
          line-height: 52px;
          color: $bg-color;
        }
      }
    }
  }

  &__submit {
    margin-left: 28px;
    padding: 5px 22px;
    border: 2px solid $text-color;
    border-radius: 2px;

    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: $text-color;
    background: transparent;
    cursor: pointer;

    &[disabled] {
      cursor: no-drop;
    }


    @media screen and (max-width: 1023px) {
      width: 100%;
      padding: 15px;
      margin: 10px 0 0;
      border-color: $bg-color;

      font-size: 24px;
      line-height: 1;
      color: $white;
      background: $bg-color;

      &::before {
        content: '';
        display: inline-block;
        vertical-align: text-top;

        size: 28px;
        margin-right: 20px;

        background: transparent url('../images/icons/send.svg') no-repeat center;
        background-size: 28px;
      }
    }
  }
}
