.logo {
  display: inline-block;
  margin: 0;

  &__img {
    display: inline-block;
    vertical-align: middle;

    @media screen and (max-width: 480px) {
      width: 84px;
      height: auto;
    }
  }
  &__text {
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px;

    font-family: $proxima;
    font-size: 36px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    color: $white;
  }
}